.out-frame 
  .out-frame__header
    = link_to root_path do
      = image_tag 'logo.png', class: "out-frame__header--img"
  = form_with model: @address, local: true, url: address_path do |f|
    .new_user
      %h2.new_user__head 会員情報入力
      = render "devise/shared/error_messages", resource: @address
      .user_form
        .field
          .item
            = f.label "送付先氏名(全角)"
            = f.label "必須", class: "required"
          = f.text_field :address_first_name, autofocus: true, placeholder: "例）古間", class: "input-form input-name"
          = f.text_field :address_last_name, placeholder:"太郎", class: "input-form input-name"

        .field
          .item
            = f.label "送付先氏名ふり(全角)"
            = f.label "必須", class: "required"
          = f.text_field :address_first_name_kana, placeholder: "例）ふりま", class: "input-form input-name"
          = f.text_field :address_last_name_kana, placeholder:"たろう", class: "input-form input-name"

        .field
          .item
            = f.label "郵便番号"
            = f.label "必須", class: "required"
          = f.text_field :address_number, autofocus: true, placeholder: "○○○-○○○○", class: "input-form"

        .field
          .item
            = f.label "都道府県"
            = f.label "必須", class: "required"
          = f.text_field :address_prefecture, autofocus: true, placeholder: "都道府県", class: "input-form"

        .field
          .item
            = f.label "市区町村"
            = f.label "必須", class: "required"
          = f.text_field :address_name, autofocus: true, placeholder: "市区町村", class: "input-form"

        .field
          .item
            = f.label "番地"
            = f.label "必須", class: "required"
          = f.text_field :address_block, autofocus: true, placeholder: "番地", class: "input-form"

        .field
          .item
            = f.label "建物名"
          = f.text_field :address_building, autofocus: true, placeholder: "建物名", class: "input-form"

        .field
          .item
            = f.label "電話"
          = f.text_field :address_phone_number, autofocus: true, placeholder: "電話", class: "input-form"

        .actions
          = f.submit "新規作成", class: "submit-btn"
  .out-frame__footer
