.out-frame 
  .out-frame__header
    = link_to root_path do
      = image_tag 'logo.png', class: "out-frame__header--img"
  = form_with model: @user, local: true, url: user_session_path do |f|
    .new_user
      %h2.new_user__head ログイン
      = render "devise/shared/error_messages", resource: @user
      .user_form
        .field
          .item
            = f.label "メールアドレス"
            = f.label "必須", class: "required"
          = f.email_field :email, autocomplete: "email", placeholder:"携帯・PCどちらでも", class: "input-form"

        .field
          .item
            = f.label "パスワード"
            = f.label "必須", class: "required"
          = f.password_field :password, placeholder: "#{@minimum_password_length}文字以上の半角英数字", class: "input-form"

        .actions
          = f.submit "ログイン", class: "submit-btn"
  .out-frame__footer
    = render "devise/shared/links"
