.header
  = render "header"
.contents
  .left-content
    .sidebar__title
      ="ようこそ、#{current_user.nickname}さん"
    .sidebar__title
      商品を出品する
      .list-group
        .list-group__menu
          =link_to new_item_path do
            商品を出品する

    .sidebar__title
      設定
      .list-group
        .list-group__menu
          =link_to cards_path do
            クレジットカードの登録・削除
        .list-group__menu
          =link_to destroy_user_session_path, method: :delete do
            ログアウト
  .right-content
    .main__title
      出品された商品一覧
    .item-List
      - @items.each do |item|
        = link_to item_path(item.id) do
          = image_tag item.images[0].src.url
          -if item.buyer_id.present? 
            .items-box_photo__sold
              .items-box_photo__sold__inner
                SOLD
          .body
            %ul
              %li
              = item.name
              %li 
              = item.price
              円
.fotter
  = render "fotter"
