.header-logo
  = image_tag 'logo.png'

.title
  購入内容の確認
.confirm__item
  .confirm__item__inner
    .confirm__item__inner--image
      = image_tag @item.images[0].src.url
    .confirm__item__inner--detail
      .item-name
        = "#{@item.name}"
        %p.price
          = "¥#{@item.price.to_s}円"
          %span.shipping-free (税込) 送料込み
.confirm__price
  .confirm__price--title
    お支払金額
  .confirm__price--amount
    = "#{@item.price.to_s}円"


.purchase-method
  .purchase-method__title
    お支払方法
  .purchase-method__text
  - if @card.blank?
    .attention
      =link_to "クレジットカードを登録してください", new_card_path, class:"btn"
  - else
    .card__info
      .card__brand
        = image_tag "#{@card_src}", alt:'card_brand'
      .card__text
        .card__number
          = "**** **** **** " + @card_info.last4
        .card__expiration
          有効期限 :
          = @exp_month + " / " + @exp_year

.shipping-area
  .shipping-area__title
    配送先
    .shipping-area__title--update
      = link_to "変更する","#", class:"update-btn"
  .shipping-area__text
    〒111-1111
    %br
    東京都〇〇区
    %br
    .customer-name
    = "#{current_user.nickname}様"
    .purchase
    - if @card.blank?
        
    - else
      = form_tag(action: :pay, method: :post) do
        %button.buy-button{type:"submit"} 購入する