.wrapper
  = image_tag "logo.png",class:"header-image"
  .items
    .items__box
      .items__box--list  
        %p.name 商品画像
        %p.need 必須
      = form_with model:@item, local:true do |f|
    
        .post__drop__box__container
          .prev-content
            - @item.images.each do |image|
              .preview-box
                .upper-box
                  = image_tag image.src.url, width: "112", height: "112", alt: "preview"
                .lower-box
                  .delete-box
                    .delete-btn
                      %span 削除
          .label-content
            = f.label :"images_attributes_#{@item.images.length}_src", class: "label-box", id: "label-box--#{@item.images.length}" do
              %i.fa.fa-camera-retro
          .hidden-content
            = f.fields_for :images do |i|
              = i.file_field :src, class: "hidden-field"
              = i.check_box:_destroy, class: "hidden-checkbox"
            - @item.images.length.upto(4) do |i|
              %input{name: "item[images_attributes][#{i}][src]", id: "item_images_attributes_#{i}_src", class:"hidden-field", type:"file"}

          .items__box
            .items__box--list  
              %p.name 商品名 
              %p.need 必須
            = f.text_field :name,class: "items__box--normal",placeholder:" 商品名を入力してください",required:"true"
          .items__box
            .items__box--list
              %p.name 商品の説明
              %p.need 必須
            = f.text_field :description,class: "items__box--large",placeholder:"",required:"true"


          

          .items__box
            .items__box--list
              %p.name カテゴリー
              %p.need 必須
            .item_input__body__category#category_box
            .pulldown#partent_box
    
              = f.select :parent_name, @category_parent_array, {selected:@item.category.parent.parent.name}, { class: 'parent_category_box', id: 'parent_category'}
              

            .pulldown.item_input__body__category__children#child_box
              = f.select :child_id, options_for_select(@category_children_array.map{|b| [b.name, b.id, {data:{category: b.id}}]}, {prompt: "指定なし", selected: @item.category.parent.id}),{}, {class: 'parent_category_box', id: 'child_category'}
            .pulldown.item_input__body__category__grandchildren#grandchildren_box
              = f.select :category_id, options_for_select(@category_grandchildren_array.map{|b| [b.name, b.id, {data:{category: b.id}}]}, {prompt: "指定なし", selected: @item.category.id}),{}, {class: 'parent_category_box', id: 'grandchild_category'}

          .items__box
            .items__box--list
              %p.name ブランド
            = f.text_field :brand,class: "items__box--normal",placeholder:"例)シャネル"

          .items__box
            .items__box--list
              %p.name 商品の状態
              %p.need 必須
            = f.collection_select :condition_id,Condition.all,:id,:name,{ include_blank: '選択してください'}, { class: 'items__box--normal' , required: true } 
            
      
          .items__box
            .items__box--list
              %p.name 配送料の負担
              %p.need 必須
            = f.collection_select :shipping_burden_id,ShippingBurden.all,:id,:name,{ include_blank: '選択してください'}, { class: 'items__box--normal' , required: true } 

          .items__box
            .items__box--list
              %p.name 発送元の地域
              %p.need 必須
            = f.collection_select :shipping_area_id,ShippingArea.all,:id,:name,{ include_blank: '選択してください'}, { class: 'items__box--normal' , required: true } 
            

          .items__box
            .items__box--list
              %p.name 配送方法
              %p.need 必須
            = f.collection_select :shipping_method_id,ShippingMethod.all,:id,:name,{ include_blank: '選択してください'}, { class: 'items__box--normal' , required: true } 

          .items__box
            .items__box--list
              %p.name 発送までの日数
              %p.need 必須
            = f.select :shipping_data, {'1~2日で発送': 1, '2~3日で発送': 2,'4~7日で発送': 3}, { include_blank: '選択してください'}, { class: 'items__box--normal' , required: true } 
            
              

          .items__box
            .items__box--list
              %p.name 販売価格
              %p.need 必須
            = f.text_field :price,class: "items__box--normal",placeholder:"0",required:"true",style: "text-align:right"

          .items__box
            = f.submit 'Send', class: 'submit-box',value:'出品する'
          .items__box  
            = link_to "トップページに戻る", root_path

          .items__footer
            = image_tag "logo-white.png",class:"footer-image"

          
          