.header
  = render "header.html.haml"
%nav.breadCrumbs
  %ul
    %li

      = link_to "FURIMA", items_path

    %li
      %i.fa.fa-angle-right
    -if @grandchild_category.has_parent?
      %li
        = link_to @parent_category.name, "items"
      %li
        %i.fa.fa-angle-right
      %li
        = link_to @child_category.name, "items"
      %li
        %i.fa.fa-angle-right
      %li
        = link_to @grandchild_category.name, "items"
      %li
        %i.fa.fa-angle-right
    %li
      = link_to @item.name

.main
  .showmain
    .contentLeftqq
    .contentRight
      .topContent
        .itemBox
          %h2.itemBox__name
            = @item.name

          .itemBox__body

            %ul.top
              %li.topimage
                = image_tag @item.images[0].src.url
                %ul.subimage
                  %li.subimages
                    -# - subitem = @item.images.src.url > @item.images[0].src.url
                    - @item.images.each do |image|
                      = image_tag image.src.url

          .itemBox__price
            %span.digit

              ="¥#{@item.price.to_s}"

            .itemBox__price-detail
              %span
                (税込み)
              %span
                (送料込み)
          .itemDetail

            = @item.description
          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td 
                    = @item.seller.profile.family_name
                    = @item.seller.profile.given_name
                %tr
                  %th カテゴリー

                  -if @grandchild_category.has_parent?
                    %td
                      = link_to @parent_category.name, "items"
                      %br
                      = link_to @child_category.name, "items"
                      %br
                      = link_to @grandchild_category.name, "items"

                %tr
                  %th ブランド
                  %td
                    = @item.brand
                %tr
                  %th 商品の状態
                  %td 
                    = @item.condition.name
                %tr
                  %th 配送料の負担
                  %td 
                    = @item.shipping_burden.name
                %tr
                  %th 発送元の地域
                  %td
                    = @item.shipping_area.name

                %tr
                  %th 発送日の目安
                  %td 
                    = @item.shipping_data.name
          .optionalArea
            %ul
              %li#likeBtn.optionalBtn.likeBtn
                %i.fa.fa-star
                お気に入り 0
            %ul.optional
              %li.optionalBtn
                = link_to "#" do
                  %i.fa.fa-flag
                  不適切な商品の通報

          .buttonArea
            %ul.butttons

              - if user_signed_in? && current_user.id == @item.seller_id
                %li
                  = button_to item_path(@item.id),method: :delete, class: "deleteBtn" do
                    %i.fas.fa-trash-alt
                    削除
                %li
                  = link_to edit_item_path(@item.id), class: "editBtn" do
                    %i.fas.fa-edit
                    編集

              - elsif @item.buyer_id.blank?
                %li
                  = link_to purchase_item_path, class: "purchaseBtn" do
                    %i.fas.fa-shopping-cart
                    購入
              - else
                %li
                  = link_to purchase_item_path, class: "soldBtn" do
                    SOLD OUT
                    


        .commentBox
          %ul.commentContents
            %form#new_comment.new_comment
              %textarea#comment_body{name: "comment[body]", required: "required"}
              %p.noticeMsg
                相手のことを考え丁寧なコメントを心がけましょう
                %br
                不快な言葉遣いなどは利用制限や退会処分となることがあります
              %button.commentBtn{name: "button", type: "submit"}
                %i.fa.fa-comment
                  コメントする



      %ul.links
        %li.before
          = link_to "#" do 
            %i.fa.fa-angle-left
            %span
              前の商品
        %li.next
          = link_to "#" do 
            %span
              後ろの商品
              %i.fa.fa-angle-right

      .relatedItems
        = link_to @grandchild_category.name + "をもっと見る", "items"
        .productLists
          .productList
            = link_to "#" do
              = image_tag("https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG", class: "productList-image") #{@items.image}
              .bodyText
                %h3.nameText 
                .detail
                  %ul
                    %li 1000円
                    %li.likeIcon
                      %i.fa.fa-star 0
                  %p 税込み

= render partial: "fotter.html.haml"







