.header-logo
  = image_tag 'logo.png'
.title
  クレジットカード情報
.container
  .card__brand
    = image_tag "#{@card_src}", alt:'card_brand'
  .card__number
    = "**** **** **** " + @card_info.last4
  .card__expiration
    有効期限 :
    = @exp_month + " / " + @exp_year
.menu
  = button_to "削除する", card_path(@card), method: :delete, class: "card__btn"
  = button_to "マイページに戻る", users_path, method: :get, class: "card__btn"