.card__information
  クレジットカード一覧
  - if @card.present?
    .container
      .creditcard-info
        = image_tag "#{@card_image}", alt:'card_brand'
        %p.creditcard-info__number
          = "**** **** **** " + @card_info.last4 #クレジットカードの下４桁を表示
        %p.creditcard-info__period 
        = @exp_month + " / " + @exp_year
        = button_to "削除する", card_path(@card), method: :delete, class:"card__delete"
        = button_to "マイページに戻る", users_path, method: :get
  - else
    .new-card
      = link_to new_card_path, class:"new-card-btn" do
        %i.far.fa-credit-card 
        クレジットカードを追加する